
@{ ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/NiceAdmin/_CSLayout.cshtml"; }

@if (ViewBag.Message != null)
{
<div style="background-color: #00e600; height: 60px; box-shadow: 5px; margin: 0px 20px 20px 50px; text-align:center; font-size:x-large">@ViewBag.Message</div> }
else if (ViewBag.Error != null)
{
<div style="background-color: #ff3333; height: 60px; box-shadow: 5px; margin: 0px 20px 20px 50px; text-align: center; font-size: x-large">@ViewBag.Error</div>            }
<h2>Upload Quota File</h2>

<div class="text-center uploadOrdersDiv">
    <form asp-controller="Hold" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6">
                <input type="file" name="postedFile" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-3">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<form asp-action="DownloadQuotaTemplate">
    <input type="submit" value="Download Template" class="btn btn-link" style="margin-bottom:40px" />
</form>
<hr />
<h2 style="margin-top:40px;margin-bottom:40px">Transfer Today Hold Quota</h2>
<form asp-action="TransferYesterdayRemaining" asp-controller="Hold" method="post" enctype="multipart/form-data">
    <div class="form-row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 selectFilter" style="display:inline-block">
            <label class="control-label" style="margin-right:10px; font-weight:bold">Transfer To Date:- </label><input type="date" id="TransferDate" name="TransferDate" style="height:50px" />
        </div>
    </div>
    <input type="submit" value="Transfer" class="btn btn-success" style="margin-bottom:40px; margin-left:170px; margin-top:30px" />

</form>